<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Video Gallery</title>
    <link rel="stylesheet" href="/css/illustrator.css" type="text/css">
    
</head>

<body>
    <h1>Illustrator Work</h1>
<div class="container">
  <div class="box">
    <img src="/thumbnails\Uncanny flyer.png">
    <span>Flyer</span>
  </div>
  <div class="box">
    <img src="/thumbnails\my-city.png">
    <span>Illustrator Art</span>
  </div>
  <div class="box">
    <img src="/thumbnails\building-truck.png">
    <span>Illustrator Art</span>
  </div>
  <div class="box">
    <img src="/thumbnails\resume-cypic.png">
    <span>Tech Resume</span>
  </div>
  
  
</div>

</body>
