<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Video Gallery</title>
    <link rel="stylesheet" href="/css/ps.css" type="text/css">
</head>

<body>
    <h1>Photoshop Work</h1>
<div class="container">
  <div class="box">
    <img src="/thumbnails\mcgold.png">
    <span>Gold Effect</span>
  </div>
  <div class="box">
    <img src="/thumbnails\Silvertx.png">
    <span>Texture</span>
  </div>
  <div class="box">
    <img src="/thumbnails\scarface toon.png">
    <span>Edits/SFX</span>
  </div>
  <div class="box">
    <img src="/thumbnails\remaster.png">
    <span>Restoration</span>
  </div>
  
  
</div>

</body>