<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Video Gallery</title>
    <link rel="stylesheet" href="/css/aefx.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <h1>After Effects Projects</h1>
   <!-- start portfolio section -->
<section class= "projects" id="projects">
    
    <div class="portfolio-container">
        <div class="box box-one">
            <div class="inner">
                
              
                <h3>Uncanny VFX Logo Reveal</h3>
                <video width="350" height="400" controls poster  = "/thumbnails\unckey-tmn.png">
                    <source src="/videos/portfolio-footage/Uncanny-brandReveal.mp4" type="video/mp4">

                
                </video>
               
            </div>
        </div>
        <div class="box box-two">
            <div class="inner">
                
                <h3>Illustrator/Ae Animation</h3>
                <video width="350" height="400" controls poster  = "/thumbnails\building-tmn.png">
                    <source src="/videos/portfolio-footage/Buildingcar-scene.mp4" type="video/mp4">
                
                </video>
                
            </div>
        </div>

        

        <div class="box box-three">
            <div class="inner">
                
                <h3>Logo Reveal Freelance</h3>
                <video width="350" height="400" controls poster  = "/thumbnails\fkn-outmn.png">
                    <source src="/videos/portfolio-footage/Fkn out Animation.mp4" type="video/mp4">
                
                </video>
                
            </div>
        </div>

        <div class="box box-four">
            <div class="inner">
                
                <h3>illustrator/AE City animation</h3>
                <video width="350" height="400" controls poster  = "/thumbnails\my-city.png">
                    <source src="/videos/portfolio-footage/My city animation.mp4" type="video/mp4">
                
                </video>
                
            </div>
        </div>

        <div class="box box-five">
            <div class="inner">
                
                <h3>Youtube Intro  Freelance</h3>
                <video width="350" height="400" controls poster  = "/thumbnails\fkn-intmn.png">
                    <source src="/videos/portfolio-footage/Fkn-intro.mp4" type="video/mp4">
                
                </video>
                
            </div>
        </div>
        <div class="box box-six">
            <div class="inner">
                
                <h3>Motion Path</h3>
                <video width="350" height="400" controls poster  = "/thumbnails\mp-tn.png">
                    <source src="/videos/portfolio-footage/motionpath-plane.mp4" type="video/mp4">
                
                </video>
                
            </div>
        </div>
        <div class="box box-seven">
            <div class="inner">
                
                <h3>AE Expressions</h3>
                <video width="350" height="400" controls poster  = "/thumbnails\pokedex-tn.png">
                    <source src="/videos/portfolio-footage/Pokedex-Animation.mp4" type="video/mp4">
                
                </video>
                
            </div>
        </div>
        <div class="box box-eight">
            <div class="inner">
                
                <h3>Alien Walk/Birds Animation</h3>
                <video width="350" height="400" controls poster  = "/thumbnails\alienz.png">
                    <source src="/videos/portfolio-footage/Alienwalk.mp4" type="video/mp4">
                
                </video>
                
            </div>
        </div>
        <div class="box box-nine">
            <div class="inner">
                
                <h3>Circular Graph Animation</h3>
                <video width="350" height="400" controls poster  = "/thumbnails\circgraph.png">
                    <source src="/videos/portfolio-footage/CircularGraphz.mp4" type="video/mp4">
                
                </video>
                
            </div>
        </div>
        <div class="box box-ten">
            <div class="inner">
                
                <h3>Pie Graph Animation</h3>
                <video width="350" height="400" controls poster  = "/thumbnails\piegraph.png">
                    <source src="/videos/portfolio-footage/PieGraphz.mp4" type="video/mp4">
                
                </video>
                
            </div>
        </div>
        <div class="box box-eleven">
            <div class="inner">
                
                <h3>Cascading Graph Animation</h3>
                <video width="350" height="400" controls poster  = "/thumbnails\cascadgraph.png">
                    <source src="/videos/portfolio-footage/CascadingGraph.mp4" type="video/mp4">
                
                </video>
                
            </div>
        </div>
        <div class="box box-twelve">
            <div class="inner">
                
                <h3>3D NFT Trading Card</h3>
                <video width="350" height="400" controls poster  = "/thumbnails\silvgoldnft.png">
                    <source src="/videos/portfolio-footage/silvuncanny-NFT.mp4" type="video/mp4">
                
                </video>
                
            </div>
        </div>
        <div class="box box-thirteen">
            <div class="inner">
                
                <h3>3D NFT Trading Card</h3>
                <video width="350" height="400" controls poster  = "/thumbnails\firenft.png">
                    <source src="/videos/portfolio-footage/fireuncanny-NFT.mp4" type="video/mp4">
                
                </video>
                
            </div>
        </div>
        <div class="box box-fourteen">
            <div class="inner">
                
                <h3>3D NFT Trading Card</h3>
                <video width="350" height="400" controls poster  = "/thumbnails\hadesblunft.png">
                    <source src="/videos/portfolio-footage/hadesuncanny-NFT.mp4" type="video/mp4">
                
                </video>
                
            </div>
        </div>
        <div class="box box-fifteen">
            <div class="inner">
                
                <h3>3D NFT Trading Card</h3>
                <video width="350" height="400" controls poster  = "/thumbnails\yellownft.png">
                    <source src="/videos/portfolio-footage/yellowuncanny-NFT.mp4" type="video/mp4">
                
                </video>
                
            </div>
        </div>
    
        <div class="box box-sixteen">
            <div class="inner">
                
                <h3>Hologram Effect</h3>
                <video width="350" height="400" controls poster  = "/thumbnails\holo-tn.png">
                    <source src="/videos/portfolio-footage/Hologram-Fx.mp4" type="video/mp4">
                
                </video>
                
            </div>
        </div>

        <div class="box box-seventeen">
            <div class="inner">
                
                <h3>Code Youth Logo Reveal.</h3>
                <video width="350" height="400" controls poster  = "/thumbnails\cy-tn.png">
                    <source src="/videos/portfolio-footage/cyanimate.mp4" type="video/mp4">
                
                </video>
                
            </div>
        </div>


        <div class="box box-eighteen">
            <div class="inner">
                
                <h3>Motion Tracking</h3>
                <video width="350" height="400" controls poster  = "/thumbnails\MT-tn.png">
                    <source src="/videos/portfolio-footage/motion-track1.mp4" type="video/mp4">
                
                </video>
                
            </div>
        </div>


        <div class="box box-nineteen">
            <div class="inner">
                
                <h3>Motion Tracking</h3>
                <video width="350" height="400" controls poster  = "/thumbnails\mtr-tn.png">
                    <source src="/videos/portfolio-footage/motionrobot.mp4" type="video/mp4">
                
                </video>
                
            </div>
        </div>


        <div class="box box-twenty">
            <div class="inner">
                
                <h3>OLD Uncanny Logo Reveal</h3>
                <video width="350" height="400" controls poster  = "/thumbnails\unc-tn.png">
                    <source src="/videos/portfolio-footage/uncannyrev.mp4" type="video/mp4">
                
                </video>
               
            </div>
        </div>

</section>
</body>

</html>